/* maxWith 800, maxHeight 600 */

* {
	font-family: Century !important;
}

html {
	width: 400px;
	height: 600px;
}

body {
	margin: 5px 0px !important;
}

#topContainer {
	border: solid 1px #ccc;
	margin: 3px;
	border-radius: 10px;
}

#editor {
	padding: 10px !important;
	border: none;
	height: 200px;
	width: 100%;
	font-size: 19px !important;
}

#submitButton {
	margin-top: 5px;
	margin-left: 29%;
	margin-bottom: 5px;

	padding: 5px 10px 3px 10px;
	background-color: rgb(251, 114, 114);
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

#submitButton:hover {
	cursor: pointer;
	background-color: rgb(241, 104, 104);
}

#submitButton:active {
	background-color: rgb(231, 94, 94);
}

#storedNotesContainer {
	overflow-y: scroll;
	max-height: 339px;
	padding: 2px 5px 0px 5px;
	border: solid 1px #ccc;
	margin: 3px;
	border-radius: 10px;
}

.storedNoteTitle {
	color: #7e7e7e;
	padding-left: 5px;

	margin-top: 0px;
	font-size: 11px;
	margin-bottom: 0px;
}

.storedNoteContainer {
	margin: 0px 5px 7px 5px !important;
	border: none !important;
}

.storedNote {
	margin-bottom: 5px;
	font-size: 19px !important;
	color: #444444;
}

.horizontalLine {
	width: 90%;
	height: 1px;
	background-color: rgb(230, 230, 230);
	border: none;
	text-align: center;
}
