/* maxWith 800, maxHeight 600 */

html {
	font-family: "Lora", sans-serif;
	width: 400px;
	height: 600px;
}

body {
	min-width: 400px;
	max-width: 400px;
	max-height: 600px;
	margin-left: 0px !important;
}

#plexusTitle {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	font-size: 15px;
	color: #fb7272;
}

/******* Custom quill css *******/
.ql-container {
	overflow: auto;
	max-height: 400px;
	width: 98% !important;
	padding: 12px 0px !important;
}

#editor {
	padding: 10px !important;
	margin: 0px 5px !important;
}

.ql-editor {
	padding: 0px !important;
	min-height: 150px;
}

.ql-editor.ql-blank::before {
	left: 12px !important;
}